@mixin bilder() {
    margin: 10%;
    width: 80%;
    box-shadow: 2px 2px 8px #333;
    margin-bottom: 10px;
    margin-top: 20%;
}

@mixin rubrikstorlek ($storlek) {
    @if $storlek ==1 {
        font-size: 3.2rem;
    }

    @else if $storlek ==2 {
        font-size: 2.4rem;
    }

    @else if $storlek ==3 {
        font-size: 1rem;
        font-style: italic;
    }

    @else {
        font-size: 2rem;
    }
}

@mixin boxshadow() {
    box-shadow: 2px 2px 8px #333;
}
