@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes förstora {
    100% {
        transform: scale(1.1, 1.1);
    }
}

@keyframes flipme {
    100% {
        transform: rotateX(360deg);
    }
}