@use "component";
@use "keyframes";

$background-color: #eaeaea;
$orange-color: #cc6600;
$link-primary: #ffffff;
$link-hover: #333;
$link-hover-bg: #ddd;

$background-color-darkmode: darken($color: $orange-color, $amount: 20%);
$orange-color-darkmode: darken($color: $orange-color, $amount: 10%);
$link-primary-darkmode: darken($color: $link-primary, $amount: 10%);
$link-hover-darkmode: darken($color: $orange-color, $amount: 10%);
$link-hover-bg-darkmode: darken($color: $link-primary, $amount: 10%);

body {
    background-color: $background-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin: 0;
}

/* Bakgrund till navigatinsfältet */
.topnav {
    background-color: $orange-color;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    @include component.boxshadow();

    /* Styla länkarna i navigationsfältet */
    a {
        float: right;
        display: block;
        color: $link-primary;
        text-align: center;
        padding: 30px 16px;
        text-decoration: none;
        font-size: 1.6em;
    }

    /* Byter utseende på länkarna när man håller musen över dom */
    a:hover {
        background-color: $link-hover-bg;
        color: $orange-color;
        cursor: pointer;
    }

    /* Döljer länken till den utfällbara menyn på stor skärmbredd */
    a.active {
        background-color: $link-hover;
        color: $orange-color;
    }
}

/* Döljer länken till den utfällbara menyn på stor skärmbredd */
.icon {
    display: none;
    padding: 30px 30px;
}

/*Ger samma hovereffekt och active effekt som resterande länkar*/
.icon:hover {
    background-color: $link-hover-bg;
    color: $orange-color;
    cursor: pointer;
}

.icon.active {
    background-color: $link-hover;
    color: $orange-color;
}

.sidenav {
    z-index: 2;
    background-color: $orange-color;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 400px;
    max-width: 100vw;
    display: none;
    @include component.boxshadow();

    a {
        display: block;
        color: $link-primary;
        text-align: left;
        padding: 30px 30px;
        text-decoration: none;
        font-size: 1.6em;
    }

    a:hover {
        background-color: $link-hover-bg;
        color: $orange-color;
        cursor: pointer;
    }

    /* Döljer länken till den utfällbara menyn på stor skärmbredd */
    a.active {
        background-color: $link-hover;
        color: $link-hover-bg;
    }
}

footer {
    background-color: $orange-color;
    min-height: 20vh;
}

footer p {
    color: $link-primary;
    padding: 30px;
    padding-bottom: 0;
    text-align: center;
    line-height: 1.6em;
}

footer a {
    display: block;
    font-size: 1em;
    color: $link-primary;
    padding: 10px;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.överskrift2 {
    @include component.rubrikstorlek(2);
    color: lighten($color: $orange-color, $amount: 10%);
    text-shadow: 1px 1px 1px #33333372;
    text-align: center;
    margin-top: 50px;
}

.brödtextKarta {
    width: 50%;
    max-width: 500px;
    color: darken($color: $orange-color, $amount: 10%);
    margin: auto;
    margin-bottom: 0;
    line-height: 2em;
}

#picture-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    width: 60%;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    @include component.boxshadow();

    .överskrift {
        grid-area: 1 / 1 / 2 / 2;
        @include component.rubrikstorlek(2);
        color: lighten($color: $orange-color, $amount: 10%);
        text-shadow: 1px 1px 1px #33333372;
        text-align: center;
        margin-top: 50px;
    }

    %brödtext {
        width: 80%;
        color: darken($color: $orange-color, $amount: 10%);
        margin: 10%;
        margin-bottom: 0;
    }

    #brödtext1 {
        grid-area: 2 / 1 / 3 / 2;
        @extend %brödtext;
    }

    #brödtext2 {
        grid-area: 4 / 1 / 5 / 2;
        @include component.rubrikstorlek(3);
        @extend %brödtext;
        margin-top: 0;
    }

    #brödtext3 {
        grid-area: 7 / 1 / 8 / 2;
        @include component.rubrikstorlek(3);
        @extend %brödtext;
        margin-top: 0;
        margin-bottom: 10%;
    }

    #brödtext4 {
        grid-area: 5 / 1 / 6 / 2;
        @extend %brödtext;
        margin-top: 0;
        margin-bottom: 100px;
    }

    #bild1 {
        grid-area: 3 / 1 / 4 / 2;

        img {
            @include component.bilder();
        }
    }

    #bild2 {
        grid-area: 5 / 1 / 6 / 2;

        img {
            @include component.bilder();
        }
    }

    #bild3 {
        grid-area: 4 / 1 / 5 / 2;

        img {
            @include component.bilder();
            @include component.rundbild("rund");
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }

}

#grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    width: 60%;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    @include component.boxshadow();

    .fadein {
        grid-area: 1 / 1 / 2 / 3;
        @include component.rubrikstorlek(2);
        color: lighten($color: $orange-color, $amount: 10%);
        text-shadow: 1px 1px 1px #33333372;
        text-align: center;
        margin: 10px 10px;
        margin-top: 50px;
        animation: fadeIn 4s 0s both;
    }

    .square {
        width: 200px;
        height: 200px;
        background-color: #333;
        margin: 20 auto;
    }

    .square p {
        display: block;
        margin: 70px auto;
        padding: 10px;
        text-align: center;
        font-size: 1.6em;
        color: #ddd;
    }

    #square1 {
        background-color: blueviolet;
    }

    #square1:hover {
        animation: förstora 3s 0s ease-in-out alternate both;
    }

    #square2 {
        background-color: rgb(76, 103, 21);
    }

    #square2:hover {
        cursor: pointer;
    }

    .flipme {
        animation: flipme 2s 0s normal ease-in-out 1;
    }

    #square3 {
        background-color: rgb(126, 55, 119);
        animation: spinme 5s 0s infinite alternate ease-in-out;
        border-radius: 40%;
    }

    #square4 {
        background-color: rgb(0, 51, 99);
        border-bottom-left-radius: 25%;
        border-bottom-right-radius: 10%;
        border-top-right-radius: 25%;
        border-top-left-radius: 40%;
        animation: colorchange 4s 1s normal infinite linear;
    }

}

#diagramContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    @include component.boxshadow();

    #barTitle {
        grid-area: 1 / 1 / 2 / 2;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
    }

    #barChart {
        grid-area: 2 / 1 / 3 / 2;
    }

    #label1 {
        grid-area: 3 / 1 / 4 / 2;
    }

    #pieTitle {
        grid-area: 4 / 1 / 5 / 2;
        margin-top: 150px;
        margin-bottom: 20px;
        text-align: center;
    }

    #pieChart {
        grid-area: 5 / 1 / 6 / 2;
    }

    #label2 {
        grid-area: 6 / 1 / 7 / 2;
    }
}

.gridLabels {
    display: grid;
    width: 100%;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;

    .color1 {
        background-color: red;
        width: 30px;
        height: 30px;
        grid-area: 1 / 1 / 2 / 2;
        margin: auto;
    }

    .text1 {
        grid-area: 1 / 2 / 2 / 3;
        text-align: left;
        margin: none;
    }

    .color2 {
        background-color: orange;
        width: 30px;
        height: 30px;
        grid-area: 2 / 1 / 3 / 2;
        margin: auto;
    }

    .text2 {
        grid-area: 2 / 2 / 3 / 3;
        text-align: left;
        margin: none;
    }

    .color3 {
        background-color: yellow;
        width: 30px;
        height: 30px;
        grid-area: 3 / 1 / 4 / 2;
        margin: auto;
    }

    .text3 {
        grid-area: 3 / 2 / 4 / 3;
        text-align: left;
        margin: none;
    }

    .color4 {
        background-color: green;
        width: 30px;
        height: 30px;
        grid-area: 4 / 1 / 5 / 2;
        margin: auto;
    }

    .text4 {
        grid-area: 4 / 2 / 5 / 3;
        text-align: left;
        margin: none;
    }

    .color5 {
        background-color: blue;
        width: 30px;
        height: 30px;
        grid-area: 5 / 1 / 6 / 2;
        margin: auto;
    }

    .text5 {
        grid-area: 5 / 2 / 6 / 3;
        text-align: left;
        margin: none;
    }

    .color6 {
        background-color: purple;
        width: 30px;
        height: 30px;
        grid-area: 6 / 1 / 7 / 2;
        margin: auto;
    }

    .text6 {
        grid-area: 6 / 2 / 7 / 3;
        text-align: left;
        margin: none;
    }
}

#map {
    height: 30vw;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: $orange-color;
    z-index: 1;
}