@use "layout";

@media screen and (max-width: 900px) {

    /*Döljer alla länkar i menyn förutom den första*/
    .topnav a {
        display: none;
    }

    /*Sätter menyikonen som synlig och placerar den till höger*/
    .icon {
        float: right;
        display: block;
        border-style: none;
        color: layout.$link-primary;
        background-color: layout.$orange-color;
        font-size: 2.2em;
        padding: 10px 12px;
    }

    #picture-grid {
        width: 80%;
    }

    #grid2 {
        width: 80%;
    }

}

@media screen and (max-width: 400px) {

    #picture-grid {
        width: 90%;
    }

    #grid2 {
        width: 90%;
    }

    footer {
        font-size: 0.8em;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: layout.$background-color-darkmode;
    }

    /* Bakgrund till navigatinsfältet */
    .topnav {
        background-color: layout.$orange-color-darkmode;


        /* Styla länkarna i navigationsfältet */
        a {
            color: layout.$link-primary-darkmode;
        }

        /* Byter utseende på länkarna när man håller musen över dom */
        a:hover {
            background-color: layout.$link-hover-bg-darkmode;
            color: layout.$link-hover-darkmode;
        }

        /* Döljer länken till den utfällbara menyn på stor skärmbredd */
        a.active {
            background-color: layout.$link-hover-darkmode;
            color: layout.$link-hover-bg-darkmode;
        }
    }

    .sidenav {
        background-color: layout.$orange-color-darkmode;

        a {
            color: layout.$link-primary-darkmode;
        }
    }

    footer {
        background-color: layout.$orange-color-darkmode;
    }

    footer p {
        color: layout.$link-primary-darkmode;
    }

    footer a {
        display: block;
        font-size: 1em;
        color: layout.$link-primary;
        padding: 10px;
        padding-top: 0;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

    #picture-grid {
        background-color: darken($color: layout.$background-color, $amount: 20%);

        .överskrift {
            color: darken($color: layout.$orange-color, $amount: 10%);
        }

    }
}